{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
        <link rel="shortcut icon" href="{% static 'icone.png' %}" type="image/x-icon">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'IniciandoDjango' %}">Começando</a>
                </li>
                <li class="nav-item text-white dropdown">
                    <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#">Views</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'ClassIndex' %}">View baseada em class</a>
                        <a class="dropdown-item" href="{% url 'DefIndex' %}">View baseada em função</a>
                    </div>
                </li>
                <li class="nav-item text-white dropdown">
                    <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#">Modelos</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'LendoBanco' %}">ClassBasedView's CRUD</a>
                        <a class="dropdown-item" href="{% url 'ConsultaPersonalizada' %}">Consultando banco de dados</a>
                        <a class="dropdown-item" href="{% url 'LendoCampoRelacionado' %}">Modelos relacionados</a>
                    </div>
                </li>
                <li class="nav-item text-white dropdown">
                    <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#">Usuário</a>
                    <div class="dropdown-menu">
                        {% if not user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'CadastroDeUsuario' %}">Cadastro de Usuário</a>
                            <a class="dropdown-item" href="{% url 'LoginDeUsuario' %}">Login de Usuário</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'LogoutDeUsuario' %}">Logout de Usuário</a>
                            <a class="dropdown-item" href="{% url 'DadosDoUsuario' %}">Dados do Usuário</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'ComandosGit' %}">Comandos Git</a>
                </li>
            </ul>
        </nav>

        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

        <script>
             $(function () {
                $('.dropdown-toggle').dropdown();
             });
        </script>
    </body>
</html>