{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <a alt="Voltar" href="{% url 'LendoCampoRelacionado' %}">Voltar</a><br>
            {{ object.chave_estrangeira }}<br>
            {% for x in object.muitos_para_muitos.all %}
                {{ x }}<br>
            {% endfor %}
            {% for x in object.muitos_para_muitos_self.all %}
                {{ x }}<br>
            {% endfor %}
            {{ object.um_para_um }}<br>
        </div>
    </div>
</div>
{% endblock %}