{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <h1>Exemplos</h1>
                <a alt="Criar novo exemplo" href="{% url 'ExemploCreate' %}">Criar item</a>
                {% for exemplo in object_list %}
                    <div class="border px-3">
                        {{ exemplo }}
                        <br>
                        <a alt="Ver exemplo {{ exemplo.slug }}" href="{% url 'LendoBancoItem' exemplo.slug %}">Ver item</a> |
                        <a alt="Atualizar exemplo {{ exemplo.slug }}" href="{% url 'ExemploUpdate' exemplo.slug %}">Atualizar item</a> |
                        <a alt="Deletar exemplo {{ exemplo.slug }}" href="{% url 'ExemploDelete' exemplo.slug %}">Deletar item</a>
                    </div>
                {% empty %}
                    <div>Nenhum exemplo ainda.</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}